<h1>{{title}}</h1>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<input type="text" [(ngModel)]="title">

<h1>check leap check={{year%4==0 ? "leap year":"not leap year"}}</h1>
<p>years<input type="text" [(ngModel)]="year"></p>

<div>
    <p>{{li[2]}}</p>
</div>




  <!--list method-->
  <div>
    <ul>
      <li *ngFor="let item of li">{{ item }}</li>
    </ul>
  </div>

  <!--ul table--><div>
    <input type="text" [(ngModel)]="newItem" placeholder="Enter a new item">
    <button (click)="addToList1(newItem)">Add to List1</button>
    
    <table class="table-bordered" style="border:  0px solid black;" cellpadding="10px" cellspacing="5px">
      <thead>
        <tr>
          <th>SNo</th>
          <th>Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of list1; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ item }}</td>
        </tr>
        <tr class="line"></tr>
      </tbody>
    </table>
  </div>
  

<app-demo></app-demo>

<!--This is Click show-->
<h1>This Is Click To Show List And Table</h1>

<label type="">show list</label>
<input type="radio" [(ngModel)]="gender">

<label type="">show table</label>
<input type="radio" [(ngModel)]="gender" [value]="'false'">

<label type="">null</label>
<input type="radio" [(ngModel)]="gender">

<div *ngIf="gender">
  <app-table></app-table>
      </div>


 <div *ngIf="!gender">
  <app-list></app-list>
      </div>

      <!--SwithCase-->
  <label for="">Enter Number</label>
  <input type="text" [(ngModel)]="num">
  <div [ngSwitch]="num">
  <div *ngSwitchCase='1'>One</div>
  <div *ngSwitchCase='2'>Two</div>
  <div *ngSwitchCase='3'>Three</div>
  <div *ngSwitchCase='4'>Four</div>
  <div *ngSwitchCase='5'>Five</div> 

  </div>

  <!--Uppercase and lowercase-->
  
  <div>
    <p>{{name|uppercase}}</p>
  </div>
  <div>
    <p>{{srm|lowercase}}</p>
  </div>

  <!--Slice-->

  <div>
    <p>{{na|slice:0:8}}</p>
  </div>

  <!--Date-->

  <div>
    <p>Date = {{ today | date:"fullDate" }}</p>
  </div>

  <!--short-->
  <div>
    <p>Date = {{ today | date:"short" }}</p>
  </div>
  
  <!--medium-->
  <div>
    <p>Date = {{ today | date:"medium" }}</p>
  </div>

   <!--long-->
   <div>
    <p>Date = {{ today | date:"long" }}</p>
  </div>

  <!--currency method in price INR-->
  <div>
    <p>Price: {{ price | currency:"INR" }}</p>
    </div>

     
      <div>
        <!--output '$0.26'-->
        <p>a: {{price | currency}}</p>
    
        <!--output 'CA$0.26'-->
        <p>b: {{price | currency:'CAD'}}</p>
    
        <!--output 'CAD0.26'-->
        <p>c: {{price | currency:'CAD':'code'}}</p>
    
        <!--output 'CA$0,001.35'-->
        <p>d: {{price| currency:'CAD':'symbol':'4.2-2'}}</p>
    
        <!--output '$0,001.35'-->
        <p>e: {{price | currency:'CAD':'symbol-narrow':'4.2-2'}}</p>
    
        <!--output '0 001,35 CA$'-->
        <p>f: {{price | currency:'CAD':'symbol':'4.2-2':'fr'}}</p>
    
        <!--output 'CLP1' because CLP has no cents-->
        <p>g: {{price | currency:'CLP'}}</p>
      </div>







  





  






















  



  

  






  




  
  






